__pycache__
databases
/private/*
!/private/*configExample*
!/private/modelcontract.py
!/private/appconfig.ini.example
Testers.ipynb
test.py

test.json
api_changes.log
api_schema_cache.json
dfs.json
dibujo.svg
Leyend.png
Leyend.svg
LogoToVideo.png
path165.png
path1652.png
path1653.png
path1654.png
path1655.png
photo_2025-01-18_22-07-46.jpg
