

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-full-mobile is-half-tablet is-two-fifths-desktop">
                <h1 class="title" style="text-align: center;">Block: {{ Block ["height"]}}</h1>
            </div>
        </div>
        <div class="columns is-multiline">
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">                
                <div class="box box-index">
                    <div>
                        <p class="box-title">hash</p>
                        <p title="{{ Block ['hash']}}" class="">{{ Block ["hash"][:30] + '...' }}</p>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">  
                <div class="box box-index">
                    <div>
                        <p class="box-title">Size</p>
                        <p class="">{{ Block ["size"]}}</p>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box box-index">
                    <div>
                        <p class="box-title">Miner</p>
                        <p class="" title="{{ Block ['miner'] }}">{{ Block ["miner"][:30] + '...' }}</p>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">                
                <div class="box box-index">
                    <div>
                        <p class="box-title">Parent</p>
                        <a href="/block/{{ Block ["height"]-1}}" title="{{ Block ["height"]-1}}" class="card-footer-item">{{ Block ["height"]-1}} &nbsp; <img src="/static/link-solid.svg" alt=""></a>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">                
                <div class="box box-index">
                    <div>
                        <p class="box-title">Burnt fees</p>
                        <p class="">{{ Block ["burnt_fees"]}}</p>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box box-index">
                    <div>
                        <p class="box-title">Transactions count</p>
                        <p class="">{{ Block ["tx_count"]}}</p>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">                
                <div class="box box-index">
                    <div>
                        <p class="box-title">Timestamp</p>
                        <p class=""> {{ Block ["timestamp"]}}</p>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box box-index">
                    <div>
                        <p class="box-title">Gas used</p>
                        <p class="">{{ Block ["gas_used"]}}</p>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box box-index">
                    <div>
                        <p class="box-title">Gas limit</p>
                        <p class="">{{ Block ["gas_limit"]}}</p>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 