
{% extends "layout.html" %}

{% block content %}

<div id="response-div-1" hx-get="section_1/{{ height}}" hx-target="#response-div-1" hx-swap="outerHTML" hx-trigger="load delay:1s"></div>


<div id="response-div-tx" hx-get="{{ height}}/tx?style=html" hx-target="#response-div-tx" hx-swap="outerHTML" hx-trigger="load delay:1s"></div>

<div id="response-div-2" hx-get="section_2/{{ height}}" hx-target="#response-div-2" hx-swap="outerHTML" hx-trigger="load delay:1s"></div>


    
{% endblock %}




