
{% extends "layout.html" %}

{% block content %}

 
 <h1 class="">Block: {{ Block ["height"]}}</h1>
 <section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">hash</p>
                    <p class="">{{ Block ["hash"]}}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Size</p>
                    <p class="">{{ Block ["size"]}}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Miner</p>
                    <p class="">{{ Block ["miner"]}}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Parent</p>
                    <a href="/block/{{ Block ["height"]-1}}" title="{{ Block ["height"]-1}}" class="card-footer-item">{{ Block ["height"]-1}} &nbsp; <img src="/static/link-solid.svg" alt=""></a>
                </div>
            </div>
            
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Burnt fees</p>
                    <p class="">{{ Block ["burnt_fees"]}}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Transactions count</p>
                    <p class="">{{ Block ["tx_count"]}}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Timestamp</p>
                  
                    <p class=""> {{ (Block ["timestamp"].split('T'))[0] }}<br> <span>{{ (Block ["timestamp"].split('T'))[1] }}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Gas used</p>
                    <p class="">{{ Block ["gas_used"]}}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Gas limit</p>
                    <p class="">{{ Block ["gas_limit"]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>     
{% endblock %}




