<section class="section">
  <div class="container">
    <h1 class="title is-4 has-text-centered">Batch</h1>

    <div class="columns is-vcentered is-multiline has-text-centered">
      <!-- Educhain -->
      <div class="column is-4">
        <div class="box">
          <p class="has-text-weight-bold">Educhain</p>
          <p class="box-title">Block Educhain {{ Block['block_heightOCS'] }}</p>
          <p class="box-title">
            Batch Educhain 
          <a href="https://educhain.blockscout.com/batches/{{ Block['batch_numberOCS']  }}" 
          title="{{ Block['batch_numberOCS'] }}" 
          class="card-footer-item">
         {{ Block['batch_numberOCS']  }}
        </p>
       </a>
          
        </div>
      </div>

      <!-- Arbitrum -->
      <div class="column is-4">
        <div class="box">
          <p class="has-text-weight-bold">Arbitrum</p>
          <p class="box-title">
            Block Arbitrum 
            <a href="https://arbitrum.blockscout.com/block/{{ Block['l1_block_heightARB'] }}" 
               title="{{ Block['l1_block_heightARB'] }}" 
               class="card-footer-item">
              {{ Block['l1_block_heightARB'] }}
            </a>
          </p>
          <p class="box-title">Batch Arbitrum {{ Block['batch_numberARB'] }}</p>
          <p class="box-title">Priority Fee Arbitrum {{ Block['priority_feeARB'] }}</p>
          <p class="box-title">Total Difficulty Arbitrum {{ Block['total_difficultyARB'] }}</p>
          <p class="box-title">Transactions Fees Arbitrum {{ Block['transaction_feesARB'] }}</p>
          <p class="box-title">Burnt Fees Arbitrum {{ Block['burnt_feesARB'] }}</p>
          <p class="box-title">Difficulty Arbitrum {{ Block['difficultyARB'] }}</p>
          <p class="box-title">Gas Limit Arbitrum {{ Block['gas_limitARB'] }}</p>
          <p class="box-title">Gas Used Arbitrum {{ Block['gas_usedARB'] }}</p>
        </div>
      </div>

      <!-- Ethereum-->
      <div class="column is-4">
        <div class="box">
          <p class="has-text-weight-bold">Ethereum</p>
          <p class="box-title">
            Block Ethereum 
            <a href="https://eth.blockscout.com/block/{{ Block['l1_block_heightETH'] }}" 
               title="{{ Block['l1_block_heightETH'] }}" 
               class="card-footer-item">
              {{ Block['l1_block_heightETH'] }}
            </a>
          </p>
          <p class="box-title">Total Difficulty Ethereum {{ Block['total_difficultyETH'] }}</p>
          <p class="box-title">Difficulty Ethereum {{ Block['difficultyETH'] }}</p>
          <p class="box-title">Gas Limit Ethereum {{ Block['gas_limitETH'] }}</p>
          <p class="box-title">Gas Used Ethereum {{ Block['gas_usedETH'] }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
