{% extends "layout.html" %}

{% block content %}
The wallet in analisis: {{ IDwallet }}
    <div id="cy"></div>
</br>
    <button id="zoomButton">0xa482AE7d753b33cB06Fd6872443E902cB6BEe592</button>1600,Wallet
</br>
    <button id="zoomButton2">0x907fC0C7E6b84F0229c13F57D413F72D33Ff3bAf</button>30,Wallet
    <script>
        // Initialize Cytoscape
        var cy = cytoscape({
            container: document.getElementById('cy'), // container to render in
            
            elements: JSON.parse('{{ Resultado|safe }}'.replace(/'/g, '"')),

            style: [ // the stylesheet for the graph
                {
                    selector: 'node',
                    style: {
                        'background-color': 'data(color)',
                        'label': 'data(id)',
                        'width': 10,
                        'height': 10,
                        'border-width': 1,
                        'border-color': 'black'

                    }
                },

                {
                    selector: 'edge',
                    style: {
                        'width': 'data(width)',
                        'line-color': '#ccc',
                        'target-arrow-color': '#ccc',
                        'target-arrow-shape': 'triangle'
                    }
                }
            ],

            layout: {
                name: 'fcose',
                nodeRepulsion: node => 9000,
                // Ideal edge (non nested) length
                idealEdgeLength: edge => 50,
                // Divisor to compute edge forces
                edgeElasticity: edge => 0.45,
            }
        });


        cy.style().selector('node').style({
            'label': 'data(id)',
            'text-opacity': 0,
            'text-wrap': 'wrap'
          }).update();

        // Add a click event to nodes
        cy.on('tap', 'node', function(event) {
            var node = event.target;
            var url = node.data('url');
            if (url) {
                window.open(url, '_blank'); // Open the URL in a new tab
            }
        });
        cy.on('mouseover', 'node', function(event) {
            event.target.style('text-opacity', 1);
          });
          
          cy.on('mouseout', 'node', function(event) {
            event.target.style('text-opacity', 0);
          });

        // Assume you have a button with id "zoomButton"
        document.getElementById('zoomButton').addEventListener('click', function() {
            // Replace 'targetNodeId' with the ID of the node you want to zoom to
            const targetNode = cy.$('#0xa482AE7d753b33cB06Fd6872443E902cB6BEe592');
            
            if (targetNode.length > 0) {
            cy.animate({
                center: {
                eles: targetNode
                },
                zoom: 4, // Adjust this value to set the desired zoom level
                duration: 1000 // Animation duration in milliseconds
            });
            
        //    targetNode.animate({
        //        style: { 'border-width': 5,
        //        'border-color': 'red'
        //     }
        //      }, {
        //        duration: 300
        //      });
          
              
        //      nodes.difference(targetNode).animate({
        //        style: { 'border-width': 1,
        //        'border-color': 'black'  } 
        //      }, {
        //        duration: 300
        //      });
            }
        });
        document.getElementById('zoomButton2').addEventListener('click', function() {
            
            const targetNode = cy.$('#0x907fC0C7E6b84F0229c13F57D413F72D33Ff3bAf');
            
            if (targetNode.length > 0) {
            cy.animate({
                center: {
                eles: targetNode
                },
                zoom: 4, 
                duration: 1000 
            });
            
        //    targetNode.animate({
        //        style: { 'border-width': 5,
        //        'border-color': 'red'
        //     }
        //      }, {
        //        duration: 300
        //      });
          
              
        //    nodes.difference(targetNode).animate({
        //        style: {'border-width': 1,
        //        'border-color': 'black' } 
        //      }, {
        //        duration: 300
        //      });
            }
        });
    </script>
{% endblock %}