{% extends "layout.html" %}

{% block content %}

<div class="columns">
    <div class="column"></div>
    <div class="column">
        <div class="titulo">
            <h1 class="title">Title</h1>
        </div>

        <div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Enter Wallet ID" name="IDwallet">
                </div>
            </div>
            
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link"
                            hx-get="/wallet"
                            hx-trigger="click"
                            hx-target=".result"
                            hx-include="[name='IDwallet']">Submit</button>
                </div>
            </div>
        </div>

        <div class="result"></div>
    </div>
    <div class="column"></div>
</div>





{% endblock %}