{% extends "layout.html" %}

{% block content %}


<div>
    <div id="root_section_1" hx-get="root_section_1" hx-target="#root_section_1" hx-swap="outerHTML" hx-trigger="load delay:1s"></div>
</div>


<div>
    <div id="root_section_2" hx-get="root_section_2" hx-target="#root_section_2" hx-swap="outerHTML" hx-trigger="load delay:1s"></div>
</div>

<div>
    <div id="root_section_3" hx-get="root_section_3" hx-target="#root_section_3" hx-swap="outerHTML" hx-trigger="load delay:1s"></div>
</div>

<div>
    <div id="root_section_4" hx-get="root_section_4" hx-target="#root_section_4" hx-swap="outerHTML" hx-trigger="load delay:1s"></div>
</div>

<div>
    <div id="root_section_5" hx-get="root_section_5" hx-target="#root_section_5" hx-swap="outerHTML" hx-trigger="load delay:1s"></div>
</div>

<div>
    <div id="root_section_6" hx-get="root_section_6" hx-target="#root_section_6" hx-swap="outerHTML" hx-trigger="load delay:1s"></div>
</div>


{% endblock %}