{% extends "layout.html" %}

{% block content %}


<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Network utilization percentage</p>
                    <p class="">{{ Data_general["network_utilization_percentage"]}}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Total blocks</p>
                    <p class="">{{ Data_general["total_blocks"]}}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Total transactions</p>
                    <p class="">{{ Data_general["total_transactions"]}}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Transactions today</p>
                    <p class="">{{ Data_general["transactions_today"]}}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Total addresses</p>
                    <p class="">{{ Data_general["total_addresses"]}}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Gas used today</p>
                    <p class="">{{ Data_general["gas_used_today"]}}</p>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box">
                    <p class="">Average block time</p>
                    <p class="">{{ Data_general["average_block_time"]}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-full-mobile is-half-tablet is-full-desktop">
                <div class="box">
                    <table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Block</th>
                                <th>Hash</th>
                                <th>Size</th>
                                <!-- <th>Miner</th> -->
                                <!--<th>Difficulty</th> -->
                                <th>Burnt fees</th>
                                <th># of Tx</th>
                                <th>Timestamp</th>
                                <th>Gas used</th>
                                <!--<th>Gas limit</th>-->
                                <th>Tx fees</th>
                                
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for i in BlocksToIndex %}
                            <tr>
                                <td><a href="/block/{{ i["height"]}}" title="{{ i["height"]}}" class="card-footer-item">{{ i["height"]}} &nbsp; <img src="/static/link-solid.svg" alt=""></a></td>
                                <th title="{{ i["hash"] }}">{{ i["hash"][:10] + '...' }}</th>
                                <td>{{ i["size"] }} <br> <span>Mean 50 Blocks {{ mean_size_Bl }}</span></td>
                                <!-- <td title="{{ i["miner"] }}">{{ i["miner"][:10] + '...' }}</td>-->
                                <!--<td>{{ i["difficulty"]}}</td> -->
                                <td title="{{ i["burnt_fees"]}}">{{ i["burnt_fees"][:10] + '...'}}</td>
                                <td>{{ i["tx_count"]}} <br> <span>Mean 50 Blocks {{mean_tx_count_Bl}}</span> </td>
                                <td>{{ (i["timestamp"].split('T'))[0] }}</td>
                                <td>{{ i["gas_used"]}} <br> <span>Mean 50 Blocks {{mean_gas_used_Bl}}</span></td>
                                <!-- <td title="{{ i["gas_limit"]}}">{{ i["gas_limit"][:10] + '...'}}</td> -->
                                <td>{{ i["tx_fees"]}} <br> <span>Mean 50 Blocks {{mean_tx_fees_Bl}}</span></td>
                                
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-full-mobile is-half-tablet is-full-desktop">
                <div class="box">
                    <table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Hash</th>
                                <th>Fee</th>
                                <th>Block</th>
                                <!--<th>Method</th> -->
                                <th>To</th>
                                <th>From</th>
                                <!-- <th>Tx burnt fee</th>-->
                                <th>Timestamp</th>
                                <!--<th>Tx types</th>-->
                                <!--<th>Gas limit</th>-->
                                <th>Gas used</th>
                                <!--<th>Priority fee</th>-->
                                <!--<th>Created contract</th>-->
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for i in TxtoIndex %}
                            <tr>
                                <th><a href="/Tx/?wallet={{ i["hash"]}}" title="{{ i["hash"] }}" class="card-footer-item">{{ i["hash"][:10] + '...' }}&nbsp; <img src="/static/link-solid.svg" alt=""></a> </th>
                                <td>{{ i["fee"]}} <br> <span>Mean of 50 {{mean_fee_tx}}</span></td>
                                <td>{{ i["block"] }}</td>
                                <!-- <td>{{ i["method"] }}</td>-->
                                <td title="{{ i["to"] }}">{{ i["to"][:10] + '...' }}</td>
                                <td title="{{ i["from"]}}">{{ i["from"][:10] + '...'}}</td>
                                <!--<td>{{ i["tx_burnt_fee"] if i["tx_burnt_fee"] else '---'  }}</td>-->
                                <td>{{ (i["timestamp"].split('T'))[0] }}</td>
                                <!--<td>{{ i["tx_types"] }}</td>-->
                                <!--<td>{{ i["gas_limit"]}}</td>-->
                                <td>{{ i["gas_used"]}} <br> <span>Mean of 50 {{mean_gas_used_tx}}</span></td>
                                <!--<td>{{ i["priority_fee"]}}</td>-->
                                <!--<td>{{ i["created_contract"]}}</td>-->
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
    </div>
</section>
{% endblock %}