
{% extends "layout.html" %}

{% block content %}

<section class="section">
    <div class="container">

        <div class="columns is-centered">
            <div class="column is-full-mobile is-half-tablet is-two-fifths-desktop">
                <h1 class="title" style="text-align: center;" title="{{ Tx ['hash'] }}">Transactions: {{ Tx ["hash"][:30] + '...' }}</h1>
            </div>
        </div>

        <div class="columns is-multiline">
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box box-index">
                    <div>
                        <p class="">Block</p>
                        <a href="/block/{{ Tx ["block"]}}" title="{{ Tx ["block"]}}" class="card-footer-item">{{ Tx ["block"]}} &nbsp; <img src="/static/link-solid.svg" alt=""></a>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>


            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box box-index">
                    <div>
                        <p class="">fee</p>
                        <p class="">{{ Tx ["fee"]}}</p>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box box-index">
                    <div>
                        <p class="">Method</p>
                        <p class="">{{ Tx ["method"]}}</p>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>

            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">                
                <div class="box box-index">
                    <div>
                        <p class="">From</p>
                        <a href="/wallet/{{ Tx["fromw"]}}" title="{{ Tx["fromw"] }}" class="card-footer-item">{{ Tx["fromw"][:10] + '...' }}&nbsp; <img src="/static/link-solid.svg" alt=""></a>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box box-index">
                    <div>
                        <p class="">To</p>
                        <a href="/wallet/{{ Tx["tow"]}}" title="{{ Tx["tow"] }}" class="card-footer-item">{{ Tx["tow"][:10] + '...' }}&nbsp; <img src="/static/link-solid.svg" alt=""></a>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box box-index">
                    <div>
                        <p class="">Transactions types</p>
                        <p class="">{{ Tx ["tx_types"] }}</p>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="box box-index">
                    <div>
                        <p class="">Timestamp</p>
                    <p class=""> {{ (Tx ["timestamp"].split('T'))[0] }} <span>{{ (Tx ["timestamp"].split('T'))[1] }}</p>
                    </div>
                    <div>
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>
</section>     
{% endblock %}