{% extends "layout.html" %}

{% block content %}

    <section class="">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-full-mobile is-half-tablet is-two-fifths-desktop" style="padding-top: 2%;">
                    <h3 class="title" style="text-align: center;">{{ data ['Type']}}: {{ data ['hash']}}</h3>
                </div>
            </div>
            <div id="wallet_section_ranking" hx-get="{{ data ['hash']}}/ranking" hx-target="#wallet_section_ranking" hx-swap="outerHTML" hx-trigger="load delay:1s"></div>


            <div class="columns is-multiline">

                <div class="column is-full-mobile is-half-tablet is-one-third-desktop">   
                    <div class="box box-index">
                        <div>
                            <p class="">Name</p>
                            <p class="" title="{{ data ['Name']}}">{{ data ["Name"][:30] + '...'}}</p>
                        </div>
                        <div>
                            <i class="fas fa-server"></i>
                        </div>
                    </div>
                </div>

                <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                    <div class="box box-index">
                        <div>
                            <p class="">Vyper contract</p>
                            <p class="">{{ data ["Vyper contract"]}}</p>
                        </div>
                        <div>
                            <i class="fas fa-server"></i>
                        </div>
                    </div>
                </div>

                <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                    <div class="box box-index">
                        <div>
                            <p class="">Language</p>
                            <p class="">{{ data ["Language"]}}</p>
                        </div>
                        <div>
                            <i class="fas fa-server"></i>
                        </div>
                    </div>
                </div>

                <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                    <div class="box box-index">
                        <div>
                            <p class="">Fully verified</p>
                            <p class="">{{ data ["Is fully verified"]}}</p>
                        </div>
                        <div>
                            <i class="fas fa-server"></i>
                        </div>
                    </div>
                </div>
                <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                    <div class="box box-index">
                        <div>
                            <p class="">Blueprint</p>
                            <p class="">{{ data ["Blueprint"]}}</p>
                        </div>
                        <div>
                            <i class="fas fa-server"></i>
                        </div>
                    </div>
                </div>

                <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                    <div class="box box-index">
                        <div>
                            <p class="">Verified</p>
                            <p class="">{{ data ["Verified"]}}</p>
                        </div>
                        <div>
                            <i class="fas fa-server"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section> 


<section class="section">
    <div class="container">
        <h1 class="title is-4">Functionality</h1>
        <p class="content">{{ data["Funtionality"] }}</p>
        
        <h1 class="title is-4">Sector Use</h1>
        <p class="content">{{ data["Sector Use"] }}</p>
        
        <h1 class="title is-4">Issues</h1>
        <p class="content">{{ data["Issues"] }}</p>
        
        <h1 class="title is-4">Summary</h1>
        <p class="content">{{ data["summary"] }}</p>
    </div>
</section>
      




{% endblock %}
