{% extends "layout.html" %}

{% block content %}
<section class="">
    <div class="container">
        <div class="columns is-centered">
<div class="column is-full-mobile is-half-tablet is-two-fifths-desktop">
    <h1 class="title" style="text-align: center;">{{ data ['Type']}}: {{ data ['hash']}}</h1>
</div>
</div>
</div>


<div id="wallet_section_ranking" hx-get="{{ data ['hash']}}/ranking" hx-target="#wallet_section_ranking" hx-swap="outerHTML" hx-trigger="load delay:1s"></div>
</section>




{% endblock %}
